/* You can add global styles to this file, and also import other style files */

html {
    font-family: 'Orbitron', serif;
    color: white;
    background: linear-gradient(to right, #151d26 0, #151d26 20%, #13385d 100%);

}

body {
    display: block;
    margin: 0;
}
